{% extends "layout.html" %}

{% block content %}
<!-- welcome and intro -->
<div class="container">
  <h1 class="text-center">Welcome!</h1>
  <p>
    Welcome! snake.ai is a simple machine learning model built with Detectron2 used for real time 
    object detection of snakes. You can upload a photo of a snake to see if the model can detect it. 
    <b>Do not upload anything that you don't want the developer to see!</b> While images you upload 
    are not stored anywhere, future updates plan on saving some uploaded images to further train 
    the model. <b>For current issues with the model and future updates, visit the 
    <a href="about">About</a> page. </b>
  </p>

  <p>
    To start, upload an image and wait a couple of seconds while the model tries to find snakes in 
    the image. Currently, the model can identify snakes given images of one, but performs 
    terribly when given images without snakes. This will be resolved in later updates.
  </p>
</div>

<!-- file input -->
<div class="container">
  <form enctype="multipart/form-data">
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file-upload">
        <label class="custom-file-label" for="file-upload">Upload a photo of snakes!</label>
      </div>
    </div>
  </form>
  <form>
    <button id="upload-btn" type="button" class="btn btn-primary">Submit</button> 
  </form>
</div>

<!-- img uploaded -->
<div class="container text-center" id="display-img">
</div>

<!-- model output img -->
<div class="container text-center" id="model-img" style="padding-bottom: 2rem;">
</div>

<!-- scripts -->
<script src="../static/home.js"></script>
{% endblock content %}
