{% extends "layout.html" %}

{% block content %}
<!-- about --> 
<div class="container" style="padding-top: 2rem;">
  <h1 class="text-center">About</h1>
  <p>
    SnakeDetector.ml relies on FAIR's Detectron2 and uses the state-of-the-art Mask R-CNN architecture to create masks
    and bounding boxes around the snakes. The model was trained and deployed as a simple Flask application, 
    using Bootstrap to make UI development quick and simple. To make the application scalable, the application was
    built with a microservice architecture in mind and deployed into Docker containers with Kubernetes as the
    container orchestration service. The project was created and is currently maintained by Neo Vasudeva (me). 
    To see the source code, look at the 
    <a href="https://github.com/neovasudeva/Snake-Detector">Github</a> repo. If you like what you see, please
    star the repo!
  </p>

  <p>
    For the future, I plan to use the model for real-time detection of snakes around the house. While snakes 
    are not a big issue in the Northern and Western parts of the US, the Southeast has snakes hiding 
    around every corner in the spring and summer.  
  </p>
</div>

<!-- issues -->
<div class="container" style="padding-top: 1rem;">
  <h1 class="text-center">Issues</h1>
  <p>
    This model is relatively new, which means that it's not yet the perfect snake identifier. Some currently known issues:
  </p>
  <ul>
    <li>
      The model has trouble identifying entangled snakes, singling out snakes while they eat something, 
      finding multiple intertwined snakes, and identifying snakes facing towards the camera.
    </li>
    <li>
      The HTML form is not secure. Will be fixed in a future version.
    </li>
    <li>
      Inference is performed on the CPU, which is slow. However, this requires a GPU, which I'm not willing
      to pay for. 
    </li> 
    <li>
      Pytorch 1.5 has an issue with memory leaks while performing inference on the CPU with variable size images. 
      A temporary solution has been implemented but will be re-visited when the issue is solved in 
      Pytorch 1.6.
    </li>
  </ul>
  <p>
    <b>To report issues you find, raise an Issue in the <a href="https://github.com/neovasudeva/Snake-Detector">
        Github</a> repo!</b>
  </p>
</div>

<!-- future -->
<div class="container" style="padding-top: 1rem;">
  <h1 class="text-center">Future Releases</h1>
  <h5 class="text-center">Current Version: <span style="color: green">1.0</span></h5>

  <p>
    Every release will be aimed at reducing the time to get an identification of snakes and of course
    solve the pressing issues mentioned above. I'll also maintain and update the current version 
    running just for kicks. Some features I'm thinking about implementing: 
  </p>
  <ul>
    <li>
      Securing the HTML form. 
    </li>
    <li> 
      Training the model on harder-to-identify images of snakes.
    </li>
  </ul>
</div>
{% endblock content %}
