{% extends "layout.html" %}

{% block content %}
<!-- welcome and intro -->
<div class="container" style="padding-top: 2rem;">
  <h1 class="text-center">Welcome!</h1>
  <br>
  <p>
    Welcome! SnakeDetector.ml is a simple machine learning model built with Detectron2 used for real time 
    object detection of snakes. You can upload a photo of a snake to see if the model can detect it. 
    <b>Do not upload anything that you don't want the developer to see!</b> You have the option to allow
    us to save submitted images by checking the box below. Using your images, we can train the model to be better.
    However, once you've checked the box and submitted an image, the image will be saved in our database 
    and you will not be able to delete it. <b>For current issues with the model and future updates, visit the 
    <a href="about">About</a> page. </b>
  </p>
  <p>
    To start, upload an image and wait a couple of seconds while the model tries to find snakes in 
    the image. Each box corresponds to a snake the model found. If no box appears, it means the 
    model did not find any snakes.
  </p>
</div>

<!-- file input -->
<div class="container">
  <form enctype="multipart/form-data">
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file-upload">
        <label class="custom-file-label" for="file-upload">Upload a photo of snakes!</label>
      </div>
    </div>
    <div class="form-group">
      <button id="upload-btn" type="button" class="btn btn-primary">Submit</button> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="save">
        <label class="form-check-label" for="save">
          I allow snakedetector.ml to save this image.
        </label>
      </div>
    </div>
  </form>
</div>

<!-- img uploaded -->
<div class="container text-center" id="display-img">
</div>
<br>

<!-- model output img -->
<div class="container text-center" id="model-img" style="padding-bottom: 2rem;">
</div>

<!-- scripts -->
<script src="../static/home.js"></script>
{% endblock content %}
